<footer class="container-fluid mt-5 pt-5">
<div class="row pb-5">
    <div class="col-12 col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo vero aperiam ratione neque ipsa deleniti dolorem provident pariatur, iure nisi, nihil magni dolore rerum, corporis consectetur nemo laboriosam soluta cum.
    </div>
    <div class="col-12 col-md-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam nam veniam at earum culpa, cupiditate aperiam alias, accusamus, nobis placeat voluptatum tenetur esse aliquam consequuntur nihil? Velit nostrum dolorem sed.
    </div>
    <div class="col-12 col-md-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti natus laborum, illo nostrum ratione nemo exercitationem impedit velit deserunt consequuntur magni cumque, debitis similique laudantium repellat voluptatum molestiae porro.
    </div>
</div>
<div class="row" id="copy">
<div class="col">
<p class="text-center">
    <small>Copyright &copy; -maravilla.net</small>
</p>
</div>
</div>
</footer>
