<app-headerhome></app-headerhome>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-8">
      <app-slider></app-slider>
    </div>
    <div class="col-4 bg-light p-2">
      <app-login></app-login>
    </div>
  </div>
</div>

<div class="container-fluid mt-2">
  <div class="row">
    <div class="col bg-light p-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
      </ul>
    </div>
    <div class="col bg-light p-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
        <li class="list-group-item"><app-itemproject></app-itemproject></li>
      </ul>
    </div>
  </div>
</div>

<app-footerhome></app-footerhome>

